*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero {
    position: relative;
    width: 100vw;
} 


.hero-img-tablet, .hero-img-mobile {
    display: none;
}

.img-hero {
    display: grid;
    grid-template-columns: 1fr 540px 1fr;
    width: 100%;
}

.img-hero-left {
    background: $color-black;
}

.txt-hero {
    position: absolute;
    top: 190px;
    display: flex;
    justify-content: space-between;
    gap: clamp(20px, 18vw, 320px);
    left: 50%;
    transform: translateX(-50%);
    max-width: 1110px;

    p {
        width: 350px;
        @extend %bodyM;
        margin-bottom: 64px;
    }

    h1 {
        @extend %headingXL;
        color: $color-white;
        width: 500px;
        min-width: 450px;
        mix-blend-mode: difference;
    }

    .btn-location {
        position: relative;
        width: 260px;
        padding: 24px 0 24px 32px;
        text-align: left;
        content: "";
        overflow: hidden;

        &:hover {
            a {
                ::before {
                    transform: translateX(204px);
                }
            }
        }

        a {
            text-decoration: none;
            color: $color-white;
            font-family: "Big Shoulders Display";
            font-size: 20px;
            font-weight: 800;
            letter-spacing: 3.636px;
            text-transform: uppercase;

            ::before {
                content: "";
                position: absolute;
                width: 204px;
                height: 100%;
                left: -204px;
                background: $color-black;
                z-index: -1;
                transition: transform .3s cubic-bezier(.39,1.55,.43,.79);
            }
            ::after {
                content: "";
                position: absolute;
                width: 260px;
                height: 100%;
                left: -204px;
                background: $color-brown;
                z-index: -2;
            }
        }

        span {
            position: absolute;
            height: 100%;
            width: 56px;
            right: 0;
            top: 0;

            img {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

// HERO TABLET

@media (max-width: 1190px) {
    .img-hero {
        grid-template-columns: repeat(2, 1fr);
    }

    .img-hero-left {
        display: none;
    }

    .hero-img-desktop, .hero-img-mobile {
        display: none;
    }

    .hero-img-tablet {
        display: block;
    }

    .txt-hero {
        position: absolute;
        top: 145px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 48px;
        left: 390px;
        transform: translateX(0);

        h1 {
            font-size: 70px;
            line-height: 65px;
            color: $color-black;
        }

        p {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 48px;
        }
    }
}

// HERO MOBILE

@media (max-width: 750px) {

    .img-hero {
        display: block;
        grid-template-columns: 1fr;
    }

    .img-hero-right {
        display: none;
    }

    .hero-img-desktop, .hero-img-tablet {
        display: none;
    }

    .hero-img-mobile {
        display: block;
        width: 100%;
        margin-bottom: 32px;
    }

    .txt-hero {
        position: relative;
        top: 0px;
        left: 0;
        display: block;
        margin-left: 16px;

        h1 {
            font-size: 60px;
            line-height: 55px;
            margin-bottom: 32px;
        }

        p {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 32px;
        }
    }
}