.img-tablet, .img-mobile {
    display: none;
}

.img-desktop {
    display: block;
}

.container-map {
    width: 100%;

    img {
        width: 100%;
    }
}

.btn-back {
    position: absolute;
    height: 72px;
    top: 0;
    left: 156px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: transparent;

    &:hover::before {
        transform: translateX(56px);
    }

    &::before {
        content: "";
        position: absolute;
        background: $color-brown;
        width: 208px;
        height: 100%;
        z-index: 2;
        left: 0;
        transform: translateX(-152px);
        transition: transform .3s cubic-bezier(.39,1.55,.43,.79);
    }

    &::after {
        content: "";
        position: absolute;
        background: $color-black;
        height: 100%;
        width: 100%;
    }
}

.arrow-left {
    width: 56px;
    display: grid;
    place-items: center;
    z-index: 5;
}

.link {
    width: 208px;
    display: grid;
    place-items: center;
    z-index: 5;

    a {
        text-decoration: none;
        color: $color-white;
        font-family: "Big Shoulders Display";
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 3.636px;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {
    .img-desktop, .img-mobile {
        display: none;
    }

    .img-tablet {
        display: block;
    }

    .btn-back {
        left: 40px;
    }

    .container-map {
        height: 600px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 375px) {
    .img-desktop, .img-tablet {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .btn-back {
        left: 0;
    }
}

// SECTION LOCATION

.our-location {
    padding: 104px 165px;
    background: $color-black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.location-left {
    h2 {
        @extend %headingM;
        color: $color-white;
        
        span {
            display: block;
        }
    }
}

.location-right {
    h3 {
        color: $color-brown;
        @extend %headingS;
        margin-bottom: 24px;
    }

    p {
        @extend %bodyM;
        color: $color-white;

        &:nth-child(2) {
            margin-bottom: 24px;
        }
    }
}

@media (max-width: 768px) {
    .our-location {
        padding: 88px 39px;
        grid-template-columns: 1fr 1.5fr;
    }

    .location-left {
        h2 {
            font-size: 55px;
            line-height: 50px;
        }
    }

    .location-right {
        h3 {
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 20px;
        }
    
        p {
            font-size: 18px;
            line-height: 28px;
    
            &:nth-child(2) {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 425px) {
    .our-location {
        padding: 40px 16px;
        grid-template-columns: 1fr;
    }

    .location-left {
        margin-bottom: 48px;

        h2 {
            font-size: 50px;
            line-height: 45px;

            span {
                display: inline;
            }
        }
    }

    .location-right {
        h3 {
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 20px;
        }
    
        p {
            font-size: 18px;
            line-height: 28px;
    
            &:nth-child(2) {
                margin-bottom: 20px;
            }
            &:nth-child(3) {
                margin-bottom: 24px;
            }
        }
    }
}

// FOOTER

.footer-location {
    background: $color-brown;
    padding: 80px 165px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.footer-logo {
    img {
        height: 58px;
    }
}

.footer-text {
    font-family: Outfit;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: $color-black;

    p {
        max-width: 430px;
    }
}

.footer-social {
    justify-self: end;
    display: flex;
    gap: 20px;

    a {
        svg {
            fill: $color-black;

            &:hover {
                fill: $color-white;
            }
        }

    }
}

@media (max-width: 768px) {
    .footer-location {
        padding: 56px 39px;
    }

    .footer-logo {
        img {
            height: 40px;
        }
    }

    .footer-text {
        font-size: 16px;
        line-height: 26px;
    
        p {
            max-width: 280px;
        }
    }
}

@media (max-width: 425px) {
    .footer-location {
        padding: 48px 32px;
        grid-template-columns: 1fr;
    }

    .footer-logo {
        margin-bottom: 38px;
    }

    .footer-text {
        width: 100%;
        max-width: none;
        margin-bottom: 38px;
    }

    .footer-social {
        justify-self: start;
    }
}