*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero {
    position: relative;
    width: 100vw;
} 


.img-tablet, .img-mobile {
    display: none;
}

.img-hero {
    display: grid;
    grid-template-columns: 1fr 540px 1fr;
    width: 100%;
}

.img-hero-left {
    background: $color-black;
}

.txt-hero {
    position: absolute;
    top: 190px;
    display: flex;
    justify-content: space-between;
    gap: clamp(20px, 18vw, 320px);
    left: 50%;
    transform: translateX(-50%);
    max-width: 1110px;

    p {
        width: 350px;
        @extend %bodyM;
        margin-bottom: 64px;
    }

    h1 {
        @extend %headingXL;
        color: $color-white;
        width: 500px;
        min-width: 450px;
        mix-blend-mode: difference;
    }

    .btn-location {
        position: relative;
        width: 260px;
        padding: 24px 0 24px 32px;
        text-align: left;
        content: "";
        overflow: hidden;

        &:hover {
            a {
                ::before {
                    transform: translateX(204px);
                }
            }
        }

        a {
            text-decoration: none;
            color: $color-white;
            font-family: "Big Shoulders Display";
            font-size: 20px;
            font-weight: 800;
            letter-spacing: 3.636px;
            text-transform: uppercase;

            ::before {
                content: "";
                position: absolute;
                width: 204px;
                height: 100%;
                left: -204px;
                background: $color-black;
                z-index: -1;
                transition: transform .3s cubic-bezier(.39,1.55,.43,.79);
            }
            ::after {
                content: "";
                position: absolute;
                width: 260px;
                height: 100%;
                left: -204px;
                background: $color-brown;
                z-index: -2;
            }
        }

        span {
            position: absolute;
            height: 100%;
            width: 56px;
            right: 0;
            top: 0;

            img {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

// HERO TABLET

@media (max-width: 1190px) {
    .img-hero {
        grid-template-columns: repeat(2, 1fr);
    }

    .img-hero-left {
        display: none;
    }

    .img-desktop, .img-mobile {
        display: none;
    }

    .img-tablet {
        display: block;
    }

    .txt-hero {
        position: absolute;
        top: 145px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 48px;
        left: 390px;
        transform: translateX(0);

        h1 {
            font-size: 70px;
            line-height: 65px;
            color: $color-black;
        }

        p {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 48px;
        }
    }
}

// HERO MOBILE

@media (max-width: 750px) {

    .img-hero {
        display: block;
        grid-template-columns: 1fr;
    }

    .img-hero-right {
        display: none;
    }

    .img-desktop, .img-tablet {
        display: none;
    }

    .img-mobile {
        display: block;
        width: 100%;
        margin-bottom: 32px;
    }

    .txt-hero {
        position: relative;
        top: 0px;
        left: 0;
        display: block;
        margin-left: 16px;

        h1 {
            width: 100%;
            min-width: 0;
            font-size: 60px;
            line-height: 55px;
            margin-bottom: 32px;
        }

        p {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 32px;
        }
    }
}


// SECTION GALLERY

.gallery {
    position: relative;
    margin: 180px auto;
    max-width: 1110px;
}

.header-gallery {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 68px;
}

.header-gallery-txt {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;

    h2 {
        @extend %headingM;
    }

    p {
        @extend %bodyM
    }
}

@media (max-width: 1190px) {
    .gallery {
        margin: 120px 40px;
    }
}

@media (max-width: 750px) {
    .gallery {
        margin: 120px 20px;
    }

    .header-gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .header-gallery-txt {
        grid-area: 2 / 1 / 3 / 1;
        gap: 21px;

        h2 {
            font-size: 50px;
            line-height: 45px;
        }

        p {
            font-size: 18px;
            line-height: 28px;
        }
    }
}

.body-gallery {
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 635px 1fr;
    gap: 30px;
}

.body-gallery-left {
    position: relative;
    height: 100%;
    width: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.body-gallery-right {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 30px;
}

.body-gallery-top-right {
    img {
        object-fit: cover;
    }
}

.body-gallery-bottom-right {
    background: $color-black;
    padding: 65px 48px;

    h2 {
        @extend %headingM;
        color: $color-white;
        margin-bottom: 32px;
    }

    p {
        @extend %bodyM;
        color: $color-white;
    }
}

@media (max-width: 1190px) {
    .body-gallery {
        margin-top: 11px;
        grid-template-columns: 1fr 1fr;
        gap: 11px;
    }

    .body-gallery-left {
        position: relative;
        height: auto;
        width: auto;
    
        img {
            height: auto;
            width: auto;
            object-fit: cover;
        }
    }

    .body-gallery-right {
        display: grid;
        grid-template-rows: 313px 1fr;
        gap: 11px;
    }

    .body-gallery-top-right {
        img {
            width: auto;
            height: auto;
            object-fit: cover;
        }
    }

    .body-gallery-bottom-right {
        padding: 85px 28px;
    
        h2 {
            font-size: 50px;
            margin-bottom: 24px;
            line-height: 45px;
        }
    
        p {
            font-size: 18px;
            line-height: 28px;
        }
    }
}

@media (max-width: 750px) {
    .body-gallery {
        margin-top: 32px;
        grid-template-columns: 335px;
        gap: 16px;
    }

    .body-gallery-left {
        width: 100%;
    
        img {
            height: 100%;
            width: 100%;
        }
    }

    .body-gallery-right {
        display: grid;
        grid-template-rows: 335px;
        gap: 16px;
    }

    .body-gallery-top-right {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .body-gallery-bottom-right {
        padding: 48px 24px;
    }
}

footer {
    position: relative;
    background: $color-black;
    height: 244px;
    padding-top: 1px;
}

.container-footer {
    position: relative;
    max-width: 1110px;
    margin: 79px auto;
    display: flex;
    justify-content: space-between;

    p {
        width: 430px;
        font-family: Outfit;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        color: $color-white;
    }
}

.container-footer-txt {
    display: flex;
    gap: 140.43px;
}

.logo {
    height: 58px;
}

.container-social {
    display: flex;
    gap: 20px;
}

@media (max-width: 1190px) {
    footer {
        height: 216px;
    }

    .container-footer {
        max-width: 689px;
        margin: 55px auto;

        p {
            max-width: 281px;
            font-size: 16px;
            line-height: 26px;
        }
    }

    .logo {
        height: 40px;
    }

    .container-footer-txt {
        gap: 64.95px;
    }
}

@media (max-width: 750px) {

    * {
        outline: 1px solid red;
    }

    footer {
        height: 336px;
        padding: 48px 32px;
    }

    .container-footer {
        max-width: 1110px;
        margin: 0;
        display: flex;
        flex-direction: column;
    
        p {
            width: 430px;
            font-family: Outfit;
            font-size: 18px;
            font-weight: 300;
            line-height: 28px;
            color: $color-white;
        }
    }

    .container-footer-txt {
        gap: 38px;
        flex-direction: column;
        
        p {
            width: 100%;
        }
    }

    .logo {
        width: 110.05px;
    }
    .container-social {
        margin-top: 38px;
    }
}